//Widescreens
@include mediaXL {
  main {
    align-items: center;
    text-align: center;
  }
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}
//Desktop
@include mediaLarge {
  main {
    align-items: left;
    text-align: left;
  }
}
//Tablets
@include mediaMedium {
  h1,
  h2,
  h3 {
    &.large-heading {
      margin-top: 10vh;
      font-size: 4rem;
      line-height: 1;
      margin-bottom: 1rem;
    }
    &.small-heading {
      font-size: 1.7rem;
    }
  }
  main {
    align-items: center;
    text-align: center;
  }
  div.menu-brand {
    height: 25vh;
    transform: translate3d(-100%, 0, 0);
    .portrait-image {
      background: url(../img/portraitsmall.jpg) repeat 0 0;
      width: 150px;
      height: 150px;
    }
  }
  ul.menu-navigation {
    height: 75vh;
    transform: translate3d(100%, 0, 0);
  }
  ul.menu-navigation,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";
    grid-template-columns: 1fr;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .boxes {
    div {
      font-size: 1.4rem;
    }
  }
}
//Smartphones
@include mediaSmall {
  h1,
  h2,
  h3 {
    &.large-heading {
      margin-top: 10vh;
      font-size: 2.6rem;
    }
    &.small-heading {
      font-size: 1rem;
    }
  }
  .about-info {
    grid-template-areas:
      "bioimage"
      "bio"
      "job1"
      "job2"
      "job3";

    gap: 15px;
    .bio-image {
      width: 230px;
    }
    .bio {
      font-size: 1rem;
    }
    .job {
      padding-right: 15px;
    }
  }
  .projects {
    grid-template-columns: repeat(1, 1fr);
  }
  .boxes {
    div {
      font-size: 1rem;
    }
  }
}
